#CSHeader{
    color: aqua;
    text-align: center;
    font-size : 20px;
    height : 40px;
    width: 150px;
}
.CSItem{
    text-align: center;
    font-size : 20px;
}
.CSButton{
    cursor: pointer;
    text-align: center;
    background-image: url("picture/change.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}