#Record{
    cursor : pointer;
    font-weight:bold;
    outline:none;
    width: 50%;
    height: 50px;
    float: left;
    border: none;
    font-size: 20px;
    font-family:sans-serif;
}
#RecordReturn{
    text-align: center;
    width: 20%;
    height: 30px;
    cursor: pointer;

    background-image: url("picture/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#RecordURL{
    color: lightgreen;
    text-align: center;
    width: 80%;
    height: 30px;
}
#RecordWeb{
    text-align: center;
    width: 80%;
    height: 30px;
    cursor: pointer;
}
#RecordDelete{
    text-align: center;
    height: 30px;
    cursor: pointer;

    background-image: url("picture/trash.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#RecordSave{
    font-size : 20px;
    height : 30px;
    text-indent: 10px;
    text-align: center;
    cursor: pointer;
    
    background-image: url("picture/save.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}