#Status{
    cursor : pointer;
    font-weight:bold;
    outline:none;
    width: 50%;
    height: 50px;
    float: left;
    border: none;
    font-size: 20px;
    font-family:sans-serif;
}

#StatusCS{
    text-align: center;
    color: paleturquoise;
    width: 40%;
    height: 30px;
    font-size: 25px;
    cursor: pointer;
}
#StatusReturn{
    text-align: center;
    width: 40%;
    height: 40px;
    cursor: pointer;

    background-image: url("picture/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#StatusURL{
    text-align: center;
    width: 40%;
    height: 30px;
}