body {
    background-color: rgb(61, 61, 61);/* rgb(37, 37, 37);*/
    margin:0;
    padding: 0px;
}
/*---table---*/
table{
    width: 100%;
    border-collapse: collapse;
    font-family:sans-serif;
    font-size: 16px;
}
    td, th {
        color: #ffffff;
        border: 2px solid rgb(61, 61, 61);
        text-align: left;
        height: 30px;
    }
    tr:nth-child(even) {
        background-color: rgb(45, 45, 45);
    }
    tr:nth-child(odd) {
        background-color: rgb(30, 30, 30);
    }
    /*WL*/
    #WLURL{
        text-align :center;
    }
    #WLHeader{
        font-size : 20px;
        height : 40px;
        text-indent: 10px;
    }
    #WLDel{
        text-align :center;
        width : 30px;
        cursor : pointer;
    }
    #add{
        text-align :center;
        width : 30px;
        cursor : pointer;
    }
    /*BR*/
    #BRHeader{
        text-align: center;
        font-size : 20px;
        height : 40px;
        width: 150px;
    }
    #BRHeaderTime{
        height : 40px;
        text-align: center;
        width: 100px;
        font-size : 20px;
    }
    .BRItem{
        text-align: center;
    }
    #BRUrl{
        cursor: pointer;
    }
    /*Cookie Status*/
    #CSHeader{
        text-align: center;
        font-size : 20px;
        height : 40px;
        width: 150px;
    }
    .CSItem{
        text-align: center;
        font-size : 20px;
    }
    .CSButton{
        cursor: pointer;
        text-align: center;
    }
    #CRHeader{
        font-size : 20px;
        height : 40px;
        text-indent: 10px;
        text-align: center;
    }
    #CRURL{
        text-align :center;
        cursor: pointer;
    }
    #CRDel{
        text-align :center;
        width : 30px;
        cursor : pointer;
    }
    #CRButton{
        font-size : 20px;
        height : 40px;
        text-indent: 10px;
        text-align: center;
        cursor: pointer;
    }

#input{
    background-color: rgb(61, 61, 61);
    border: none;
    outline:none;
    font-size: 16px;
    color: #ffffff;
    margin-left: 30px;
    width:350px;
}
/*---DIV---*/
.tab{
    width: 600px;
    height: 50px;
}
.page{
    width: 600px;
    height: 600px;
    background-color: rgb(61, 61, 61);
}
/*---BUTTON---*/
button{
    cursor : pointer;
    font-weight:bold;
    outline:none;
    width: 150px;
    height: 50px;
    float: left;
    border: none;
    font-size: 20px;
    font-family:sans-serif;
}
    .tab-button-on{
        background-color: rgb(30, 30, 30);
        color:#ffffff;
    }
    .tab-button-off{
        background-color: rgb(45, 45, 45);
        color:rgb(173, 173, 173);
    }